@mixin footer-styles {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: slateblue; 
  text-align: center;
  text-decoration: solid;
  background-color: rgb(167, 55, 167);
  border: 5px solid rgb(213, 84, 127);
  padding: 10px;
  color: #731875;
}

.footerimg {
  display: block;
    margin: 0 auto


}

.Redes {
  display: flex;
  align-content: center;
  
}