@mixin footer-styles {
  font-family: 'handle', cursive;
  font-size: 25px;
  color: slateblue; 
  text-align: left;
  text-decoration: solid;
  background-color: rgb(167, 55, 167);
  border: 5px solid rgb(213, 84, 127);
  padding: 10px;
  color: #731875;
}