$primary-color: rgb(194, 170, 189);

$secondary-color: rgb(213, 84, 127);

$link-color: rgb(227, 44, 172);

$accent-color: palevioletred;

$text-color: indigo;

$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

$border-color: #9c2c87;